/*
 * TeamSpeak 3 Default Qt StyleSheet
 * Special file for Linux, loaded in addition to global default_extended.qss stylesheet
 *
 * Autor: dante696 from TeamSpeak-Systems GmbH
 * Feel free to use this Stylesheet for your own theme
 */
